@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PbghE_98it0" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <img class="mySlides" src="../IMG/paw-icon.png">
    <img class="mySlides" src="../IMG/splat-icon.png">
    <img class="mySlides" src="../IMG/tiger-icon.png">
    <img class="mySlides" src="../IMG/splat-icon.png">

    <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
</div>
